<div id=loginFormHolder class='d-flex flex-column justify-content-center align-content-center'>
    <div class='row'>
        <div class='col d-flex justify-content-center'>
            <form class='w-50' action="">
                <p class="text-center s-dark-cr s-no-outline h1"> Login </p>
                <p class="text-center mb-5 s-supp-cr-1 s-no-outline lead"> Welcome to contacts app !</p>
                <!--  UserName Inp --> 
                <div class="input-group mb-3">
                    <i disabled class="s-icon-btn s-icon-user s-no-rounded-right s-dark-bg rounded-left border-0"></i>
                    <input type="text" name="userName" placeholder="UserName..." required
                        class='form-control p-4 s-supp-cr-1 s-supp-bg-1-opt5 border-0 rounded-right s-no-rounded-left'>
                </div>
                <!-- Password ip -->
                <div class="input-group mb-3">
                    <i disabled class="s-icon-btn s-icon-pass s-no-rounded-right s-dark-bg rounded-left border-0"></i>
                    <input type="text" name="password" placeholder="Password..." required
                        class='form-control p-4 s-supp-cr-1 s-supp-bg-1-opt5 border-0 rounded-right s-no-rounded-left'>
                </div>
            </form>
        </div>
    </div>
</div>